:root {
  --background: #212529;
  --color: #eeede9;
  --accent: #0a5ac8;

  --blue: #0056b3;
  --cyan: #0e6471;
  --indigo: #4709aa;
  --teal: #004857;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 5rem;
}

html {
  font-size: 18px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 15px;
  background-color: var(--blue);
  animation: background-change 45s infinite alternate;
  transition: background-change 45s infinite alternate;
  /* todo compability */

  font-size: var(--text-lg);
  line-height: 1.54;
  color: var(--color);
  text-align: center;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

main {
  height: 100%;
  max-width: 680px;
  margin: 50px auto 0;
  justify-content: center;
  align-items: center; /* todo compability */
}

header {
  margin-bottom: 30px;
}

img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  object-fit: cover;
  object-position: center;
}

h1 {
  line-height: 1.3;
  font-size: var(--text-3xl);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--text-base);
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

li {
  height: 3em;
  margin-bottom: 16px;
  
  color: var(--background);
  animation: color-change 45s infinite alternate; /* todo compability */

  text-transform: uppercase;
  font-size: var(--text-sm);
}

li:last-child {
  margin-bottom: 0;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;

  border: 1.5px solid var(--color);
  border-radius: 14px;
  background-color: var(--color);

  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover,
a:focus {
  animation: none;
  color: var(--color);
  border: 1.5px solid var(--color);
  background-color: transparent;
  color: var(--color);
}

a > i {
    margin-right: 5px;
}

/* " + . + background + ' .. + */
@-webkit-keyframes background-change {
  0% {
    background-color: var(--blue);
  }
  20% {
    background-color: var(--indigo);
  }
  40% {
    background-color: var(--blue);
  }
  60% {
    background-color: var(--cyan);
  }
  80% {
    background-color: var(--teal);
  }
  100% {
    background-color: var(--cyan);
  }
}

@-moz-keyframes background-change {
  0% {
    background-color: var(--blue);
  }
  20% {
    background-color: var(--indigo);
  }
  40% {
    background-color: var(--blue);
  }
  60% {
    background-color: var(--cyan);
  }
  80% {
    background-color: var(--teal);
  }
  100% {
    background-color: var(--cyan);
  }
}

@-o-keyframes background-change {
  0% {
    background-color: var(--blue);
  }
  20% {
    background-color: var(--indigo);
  }
  40% {
    background-color: var(--blue);
  }
  60% {
    background-color: var(--cyan);
  }
  80% {
    background-color: var(--teal);
  }
  100% {
    background-color: var(--cyan);
  }
}

@keyframes background-change {
  0% {
    background-color: var(--blue);
  }
  20% {
    background-color: var(--indigo);
  }
  40% {
    background-color: var(--blue);
  }
  60% {
    background-color: var(--cyan);
  }
  80% {
    background-color: var(--teal);
  }
  100% {
    background-color: var(--cyan);
  }
}

/* " + . + color + ' .. + */
@-webkit-keyframes color-change {
  0% {
    color: var(--blue);
  }
  20% {
    color: var(--indigo);
  }
  40% {
    color: var(--blue);
  }
  60% {
    color: var(--cyan);
  }
  80% {
    color: var(--teal);
  }
  100% {
    color: var(--cyan);
  }
}

@-moz-keyframes change {
  0% {
    color: var(--blue);
  }
  20% {
    color: var(--indigo);
  }
  40% {
    color: var(--blue);
  }
  60% {
    color: var(--cyan);
  }
  80% {
    color: var(--teal);
  }
  100% {
    color: var(--cyan);
  }
}

@-o-keyframes change {
  0% {
    color: var(--blue);
  }
  20% {
    color: var(--indigo);
  }
  40% {
    color: var(--blue);
  }
  60% {
    color: var(--cyan);
  }
  80% {
    color: var(--teal);
  }
  100% {
    color: var(--cyan);
  }
}

@keyframes change {
  0% {
    color: var(--blue);
  }
  20% {
    color: var(--indigo);
  }
  40% {
    color: var(--blue);
  }
  60% {
    color: var(--cyan);
  }
  80% {
    color: var(--teal);
  }
  100% {
    color: var(--cyan);
  }
}
