---
layout: default
---

<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <div class="profile-image" style="background-image: url('../imgs/if.jpeg')"></div>
            <h1>Hello, I'm <strong>Inês</strong></h1>
            <p>I’m an experienced, human focused and business aligned Developer turned Designer, drawn by good ideas and challenges.
              I use my research, design, tech and communication skills to design experiences that simplify processes and deliver useful, usable and satisfying products.</p>
            <a href="https://www.dropbox.com/s/7blonghzf0z5rfw/iferreira_cv.pdf" class="btn btn-link">
                <i class="fab fa-dropbox"></i>View Resume
            </a>
          </div>
      </div>
    </div>
  </div>
</header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        {% assign cases = site.posts | where: "type", "case-study" %}
        {% for post in cases %}
          {% include case-preview.html %}
        {% endfor %}
        
        <div class="row row-cols-1 row-cols-md-2">
          {% assign projects = site.posts | where: "type", "project" %}
          {% for post in projects %}
            {% include post-preview.html %}
          {% endfor %}
        </div>

        <br/>
        <hr/>

      </div>
    </div>
  </div>
